
button, .buttonpubli{
	float : right; /* Place le bouton publi a gauche quand appele*/
}

textarea[name=publication] {
  resize: none;
}

#conteneur_photo{
	margin: 1px;
	padding : 8px;
}

#boutongo{
	margin-top: 0px;
	float : right;
}

.panel-body{
	text-align: left;
	padding-top: 5px;
  padding-bottom: 5px;
}
