   /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* Classe principale de la barre de navigation */
    .navbar-inverse {
      /* Couleur de fond de la barre de navigation */
      background-color: #5DBEBE;
      border-color: #5DBEBE;
    }

    
    

    .navbar-inverse .navbar-brand {
      color : #FFFFFF;
    }
    
    /*Couleur lien actif */
    .navbar-inverse .navbar-nav > .active > a, 
    .navbar-inverse .navbar-nav > .active > a:hover, 
    .navbar-inverse .navbar-nav > .active > a:focus {
      color: #FFFFFF;
      background-color: #337AB7;
    }

    /* Couleur utilisée lors du passage de la souris sur un titre de la barre */
    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
      color: #337AB7;
    }
