 ul{
	margin-top: 5px;
}

 li{
	list-style :none;}

  textarea[name=ameliorer] {
    resize: none;
  }
 .buttonpp{
	width: : 50px;
	height: 10px;
	opacity: 0;
  	position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #11ffee00;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.img-circle{
	margin-bottom: 5px;
}

.buttonpp:hover {
  background-color: #11ffee00;
  color : black;
  opacity: 0.4;
}

.buttonmodif{

	float: right;
}
