
.panel-body{
	display: flex;
    flex-direction: column;

}
.yala1{
	position: relative;
	right:10px;
}
.yala2b {
	position: relative;
	right:10px;
}
.yala3{
	position: relative;
	right:10px;
}
.yala4{
	position: relative;
	right:10px;
}
.yala5{
	position: relative;
	right:10px;
}
#photo1{
	position: relative;
	left: 30px;

}
.s{
	position: relative;
	left: 50px;
}
p{
	display: inline;
}


.textarea{
	text-align: center;
	width: 100px;
	height: 18px;
	position: relative;
	
	left: 10px;

}
#photo2{
	position: relative;
	right:70px;
}
.yalou{
	position: relative;
	right:100px;
}
.s2{
	position: relative;
	right: 60px;
}

.titredroit{
	position: relative;
	bottom: 10px;
}

#photo{
	
	text-align: center;
	position: relative;
	top:6px;
}
.nom{
	text-align: center;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top:5px;
}

.etud{
	position: relative;
	right: 80px;
}
#but1{
	position: relative;
	bottom: 30px;
}
#but2{
	position: relative;
	bottom: 30px;
}
#but3{
	position: relative;
	bottom: 30px;
}
#bu{
	position: relative;
	bottom: 30px;
}
#waouf3{
	border:solid 1px #C0C0C0;
	border-radius: 10px;
}
#waouf1{
	border:solid 1px #C0C0C0;
	border-radius: 10px;
}
#waouf2{
	border:solid 1px #C0C0C0;
	border-radius: 10px;
}
.y{
	position: relative;
	left: 10px;
}