


#contpubli{
   position: relative;
}


.show {
        display:block;
        position: relative;
        padding-left: 15px;

        }

#photoHG{
  padding-top: 0px;
}

/*réhausse de 10px à l'intérieur du block*/
#post{
  padding-top: 10px;

}
/*aligne le texte au centre et réhausse le texte de 10pixels*/
#conteneur_photo{
  text-align: center;
  margin: 0;
  padding : 10px;
}

button, .buttonpubli{
	float : right; /* Place le bouton publi a gauche quand appele*/
}

textarea {
  resize: none;

}
/*bouton reste à 0 pixel et place le bouton j'aime à droite*/
#boutongo{
	margin-top: 0px;
	float : right;
}

.panel-body{
	text-align: left;
	padding-top: 5px;
  padding-bottom: 5px;
}
