.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {

    align-items: right;
}

.dropdown-content {
    display: none;
    width : 100%;
    margin-top: 30px;
    position: absolute;
    background-color: #f1f1f1;

    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#contpubli{
   position: relative;
}
#contpubli, .dropdown-content{

}

.show {
        display:block;
        position: absolute;
        padding-left: 15px;

        }

#photoHG{
  padding-top: 0px;

}

#conteneur_photo{
  text-align: center;
  margin: 0;
  padding : 10px;
}

button, .buttonpubli{
	float : right; /* Place le bouton publi a gauche quand appele*/
}

textarea {
  resize: none;

}

#boutongo{
	margin-top: 0px;
	float : right;
}

.panel-body{
	text-align: left;
	padding-top: 5px;
  padding-bottom: 5px;
}
